<table>
	<tr>
		<th>Hostname</th>
		<th>Downloads</th>
		<th>Uploads</th>
	</tr>
	<% @devices.each do |device| %>
		<tr>
			<td><%= link_to device.hostname, device %></td>
			<td><%= render_ammount(device.usage.in) %></td>
			<td><%= render_ammount(device.usage.out) %></td>
		</tr>
		<% @total_in += device.usage.in %>
		<% @total_out += device.usage.out %>
	<% end %>
	<tr>
		<th>Total</th>
		<th><%= render_ammount(@total_in) %></th>
		<th><%= render_ammount(@total_out) %></th>
	</tr>
</table>
